@import "tailwindcss";

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(300%);
    }
}

.animate-loading {
    animation: loading 1.5s linear infinite;
}